PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
URL_FRONTEND=

MONGODB_URI=

# email
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
# path
APP_URL=

REDIS_URL=

JWT_SECRET=

NODE_ENV=

# cloundinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stream chat
STREAM_API_KEY=
STREAM_SECRET=

